@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --image-quality: 'original';
}

.enhanced-quality {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}